absl-py==2.1.0
annotated-types==0.7.0
anyio==4.6.2.post1
astunparse==1.6.3
beautifulsoup4==4.14.2
blinker==1.9.0
certifi==2024.8.30
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.0
click==8.3.0
colorama==0.4.6
contourpy==1.3.1
cryptography==48.0.0
cycler==0.12.1
distro==1.9.0
et_xmlfile==2.0.0
filelock==3.16.1
Flask==3.1.2
flatbuffers==24.3.25
fonttools==4.55.3
fsspec==2024.9.0
gast==0.6.0
google-api-core==2.30.3
google-api-python-client==2.196.0
google-auth==2.53.0
google-auth-httplib2==0.4.0
google-auth-oauthlib==1.4.0
google-pasta==0.2.0
googleapis-common-protos==1.75.0
grpcio==1.66.2
h11==0.14.0
h5py==3.12.1
httpcore==1.0.6
httplib2==0.31.2
httpx==0.27.2
huggingface-hub==0.25.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.6.1
jsonpatch==1.33
jsonpointer==3.0.0
keras==3.6.0
kiwisolver==1.4.8
langchain-core==0.3.10
langchain-openai==0.2.2
langsmith==0.1.135
libclang==18.1.1
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.1
matplotlib==3.10.0
mdurl==0.1.2
ml-dtypes==0.4.1
namex==0.0.8
numpy==2.3.4
oauthlib==3.3.1
openai==1.51.2
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.13.0
orjson==3.10.7
packaging==24.1
pandas==2.2.3
pillow==12.0.0
proto-plus==1.28.0
protobuf==7.35.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.9.2
pydantic_core==2.23.4
pygame==2.5.2
Pygments==2.18.0
PyMuPDF==1.26.6
pyparsing==3.2.1
PyPDF2==3.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2025.1
PyYAML==6.0.2
regex==2024.9.11
reportlab==4.2.0
requests==2.32.3
requests-futures==1.0.2
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==13.9.2
safetensors==0.4.5
setuptools==75.1.0
sherlock-project==0.15.0
six==1.16.0
sniffio==1.3.1
snscrape==0.7.0.20230622
soupsieve==2.8
stem==1.8.2
tenacity==8.5.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
termcolor==2.5.0
tf_keras==2.17.0
tiktoken==0.8.0
tokenizers==0.20.1
tqdm==4.66.5
transformers==4.45.2
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.2.0
urllib3==2.2.3
Werkzeug==3.1.3
wheel==0.44.0
wrapt==1.16.0
ytmusicapi==1.12.0
